{% extends 'base.html'%}
{% block content %}

<div id="main" style="background-color: aliceblue; padding-top: 20px;">
    <div class="inner">
        <h1>Favorite posts:</h1>
        <div style="padding-left: 90px; padding-right: 100px;">

        {% for new in favorite_posts %}
            <article style="margin-top: 10%;">
                <h3 style="color: midnightblue;">{{ new }}</h3>
                <span class="image" ><img src="{{ new.get_image }}" style="width: 605px; height: 400px; margin-left:100%;" alt=""/></span>
                <p>{{ new.content|truncatewords:50 }}</p>
                <a href="{% url 'detail' new.id %}" class="button">More</a>
            </article>
        {% empty %}
        <h2>No favorite posts yet...</h2>
        {% endfor %}

        </div>
    </div>
</div>

{% endblock %}