{% extends 'base.html' %}
{% load static %}
{% block content %}

<!-- Main -->

	<div id="main" style="background-color: aliceblue; padding-top: 20px;">
		<div class="inner">
			<header>
				<h1 style="color:darkslateblue;">Welcome to MyBlog</h1>
				<h2>This is free and fully responsive site</h2>
				<div>
					<p>Информация в чистом виде - это не знание. Настоящий источник знания - это опыт.
						Поэтому читайте ни для удовольствия, ни для информации, но только для изменения души.
						И всё же, наибольшего успеха добивается тот, кто располагает лучшей информацией...
						<i style="padding-left:85%;">• Альберт Эйнштейн </i>
					</p>
				</div>
			</header>
			<section class="tiles">
				<article class="style1">
					<span class="image">
						<img src="{% static 'images/1_econ.jpg' %}" style="width: auto; height: 300px;" alt="" />
					</span>
					<a href="{% url 'category' economy %}">
						<h2>Economy</h2>
						<div class="content">
							<p>Read us and be cool in economics, business & finance</p>
						</div>
					</a>
				</article>
				<article class="style2">
					<span class="image">
						<img src="{% static 'images/2_politics.jpg' %}" style="width: auto; height: 300px;" alt="" />
					</span>
					<a href="{% url 'category' politics %}">
						<h2>Politics</h2>
						<div class="content">
							<p>Be informed on latest news on politics</p>
						</div>
					</a>
				</article>
				<article class="style3">
					<span class="image">
						<img src="{% static 'images/3_fashion.jpg' %}" style="width: auto; height: 300px;" alt="" />
					</span>
					<a href="{% url 'category' fashion %}">
						<h2>Fashion</h2>
						<div class="content">
							<p>Lets us be stylish and fashionable! Go ahead!</p>
						</div>
					</a>
				</article>
				<article class="style4">
					<span class="image">
						<img src="{% static 'images/4_showbusiness.jpg' %}" style="width: auto; height: 300px;" alt="" />
					</span>
					<a href="{% url 'category' showbusiness %}">
						<h2>Show Business</h2>
						<div class="content">
							<p>Common! Tap this! It is too fascinatingly</p>
						</div>
					</a>
				</article>
				<article class="style6">
					<span class="image">
						<img src="{% static 'images/5_itworld.jpg' %}" style="width: auto; height: 300px;" alt="" />
					</span>
					<a href="{% url 'category' itworld %}">
						<h2>It World</h2>
						<div class="content">
							<p>Sed nisl arcu euismod sit amet nisi lorem etiam dolor veroeros et feugiat.</p>
						</div>
					</a>
				</article>
				<article class="style4">
					<span class="image">
						<img src="{% static 'images/6_lifehacks.jpg' %}" style="width: auto; height: 300px;" alt="" />
					</span>
					<a href="{% url 'category' lifehacks %}">
						<h2>Lifehacks</h2>
						<div class="content">
							<p>Sed nisl arcu euismod sit amet nisi lorem etiam dolor veroeros et feugiat.</p>
						</div>
					</a>
				</article>
			</section>

		</div>
	</div>

{% endblock %}